 body{
    text-align: center;
    
}

.btn{
    height: 150px;
    width:150px;
    border-radius: 25%;
    border: 5px solid black;
    margin: 1rem;
}

.btn-container{
    display:flex;
    justify-content: center;

}

.yellow{
    background-color: yellow;
}

.pink{
    background-color: #d95980;
}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: green; 


}